{% extends 'base.html' %}
{% load static sekizai_tags wizard_tags %}

{% block content %}
    {% addtoblock 'js' %}
        <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    {% endaddtoblock %}
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="" class="formbuilder" novalidate>
                {% csrf_token %}
                {% if object.is_formset %}
                    <div class="formset">
                        {{ form.management_form }}
                        <div class="sets">
                            {% for form in form %}
                                <fieldset>
                                    {{ form.as_p }}
                                </fieldset>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {{ form.as_p }}
                        {% if object.has_formset_childrens %}
                            {% for form in children_formsets %}
                                    <div class="formset">
                                        {{ form.management_form }}
                                        <div class="sets">
                                            {% for form in form %}
                                                <fieldset>
                                                    {{ form.as_p }}
                                                </fieldset>
                                            {% endfor %}
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endif %}
                {% endif %}
                <div class="clearfix"></div>
                {% get_previous_url request.user form.token object as prev_url %}
                {% if prev_url %}<a href="{{ prev_url }}" class="btn btn-default">Previous Step</a>{% endif %}
                {% if not is_final %}<input type="submit" class="btn btn-default" value='Next Step'>{% endif %}
                {% if is_final %}<input type="submit" class="btn btn-default" value='Submit'>{% endif %}
            </form>
        </div>
    </div>
{% endblock %}