{% load i18n staticfiles compress cms_tags sekizai_tags menu_tags %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block page_title %} {% if page_title %}{{ page_title }}{% endif %} {% page_attribute "page_title" %} {% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">
        <meta name="viewport" content="width=1300" initial-scale="0">
        <!-- Mobile viewport optimized: h5bp.com/viewport -->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> -->
        {% block meta %}{% endblock %}
        <!-- CSS -->
        {# use the CDN to get bootstrap css. can not be inside compress css block #}
        {% block cdn_css %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        {% endblock %}

        {% compress css %}
            {% block css %}
                <link rel="stylesheet" href="{% static "css/main.css" %}" />
                <link rel="stylesheet" href="{% static "js/toastr.min.css" %}" />
                <link rel="stylesheet" href="{% static "css/form.css" %}" />
            {% endblock %}
        {% endcompress %}
        {% render_block "css" %}
        {% compress js %}{% endcompress %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <![endif]-->
    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %} >
        {% cms_toolbar %}
        {% show_menu 0 100 100 100 "menu.html" %}
        
          <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
               chromium.org/developers/how-tos/chrome-frame-getting-started -->
          <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
          <![endif]-->
          <header>
            {% block header %}{% endblock %}
          </header>

          <div role="main">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
          </div>

          <footer>
            {% block footer %}
            <div class="container">
              <hr>
              <p>&copy; Company 2016</p>
            </div>
            {% endblock footer %}
          </footer>
        </div>

        <!-- JavaScript -->
        <!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        {% block cdn_js %}
            <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock cdn_js %}
        <!-- scripts concatenated and minified via django-compressor -->
        {% compress js %}
            <script type="text/javascript" src="{% url 'rest_form:javascript-catalog' %}"></script>
            <script type="text/javascript" src="{% static "js/js.cookie.js" %}"></script>
            <script type="text/javascript" src="{% static "js/toastr.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/jquery.formbuilder.js" %}"></script>
        {% endcompress %}
        <script>
            jQuery(document).ready(function($) {
                $('.formbuilder').each(function(){
                    var fb = new $.formBuilder($(this), {

                        /*
                        Methods, Options

                        onSuccess: function(form, response) {}

                        success_message: 'Redirecting...'
                            this will show if we don't receive any message

                        onError: function(form, response) {}
                        onInit: function(form) {}

                        errorClass: 'error',
                            used on the input field to show if has validation error

                        errorMessageClass: 'errorlist',
                            if not empty, this will be shown after the inputas a holder for error messages
                        */

                    });
                })
            });
        </script>
        {% render_block "js" %}
    </body>
</html>

